---
title: Elsevier Mendeley Mobile Apps
layout: case-study
permalink: /elsevier-mendeley-mobile-app/
---

<div class="sticky">
  <div class="color-block">
  </div>
</div>

<div class="sheet">
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
      <h1>{{ page.title }}</h1>

      <div class="disciplines">
        <ul>
          <li><a href="{{ site.baseurl }}/">Side project</a></li>
          <li><a href="{{ site.baseurl }}/">Side project</a></li>
          <li><a href="{{ site.baseurl }}/">Side project</a></li>
          <li><a href="{{ site.baseurl }}/">Side project</a></li>
          <li><a href="{{ site.baseurl }}/">Side project</a></li>
          <li><a href="{{ site.baseurl }}/">Side project</a></li>
        </ul>
      </div>
    </div>
  </div>

  {% include clients-list.html %}
  {% include footer.html %}

</div>
