---
title: Fifa World Cup 2014
layout: case-study
permalink: /fifa-world-cup-app/
---

<div class="sticky">
  <div class="color-block">
  </div>
</div>

<div class="sheet">
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
      <h1>{{ page.title }}</h1>

      <div class="disciplines">
        <ul>
          <li>Side project</li>
          <li>Brand identity</li>
          <li>Illustration</li>
          <li>Graphic design</li>
        </ul>
      </div>

      <a href="https://econsultancy.com/fifa-s-breathtakingly-beautiful-app-is-ready-for-the-world-cup/" target="_blank">econsultancy — FIFA's breathtakingly beautiful app is ready for the World Cup</a>

      Marketing Week — FIFA puts mobile at the heart of online community plan

      <a href="https://www.theverge.com/2013/11/29/5158264/fifa-launches-apps-for-ios-and-android" target="_blank">The Verge – FIFA launches official apps for iOS and Android</a>
      <img src="{{ site.baseurl }}/assets/images/projects/fifa/1.png" class="img-fluid" alt="Responsive image">
      <img src="{{ site.baseurl }}/assets/images/projects/fifa/2.png" class="img-fluid" alt="Responsive image">
      <img src="{{ site.baseurl }}/assets/images/projects/fifa/3.png" class="img-fluid" alt="Responsive image">
      <img src="{{ site.baseurl }}/assets/images/projects/fifa/4.png" class="img-fluid" alt="Responsive image">
      <img src="{{ site.baseurl }}/assets/images/projects/fifa/5.png" class="img-fluid" alt="Responsive image">
      <img src="{{ site.baseurl }}/assets/images/projects/fifa/6.png" class="img-fluid" alt="Responsive image">
      <img src="{{ site.baseurl }}/assets/images/projects/fifa/7.png" class="img-fluid" alt="Responsive image">
      <img src="{{ site.baseurl }}/assets/images/projects/fifa/8.png" class="img-fluid" alt="Responsive image">
      <img src="{{ site.baseurl }}/assets/images/projects/fifa/9.png" class="img-fluid" alt="Responsive image">
      <img src="{{ site.baseurl }}/assets/images/projects/fifa/10.png" class="img-fluid" alt="Responsive image">
      <img src="{{ site.baseurl }}/assets/images/projects/fifa/11.png" class="img-fluid" alt="Responsive image">

    </div>
  </div>

  {% include clients-list.html %}
  {% include footer.html %}

</div>
