---
title: Helicon Health Medical App
layout: case-study
permalink: /helicon-health-medical-app
---
<style>
</style>

<div class="sticky">
  <img src="https://images1.the-dots.com/1437432/460150f5-00f2-49b9-81df-e612158584a0.jpeg?p=projectImageFullJpg" class="img-fluid" alt="Responsive image">
</div>

<div class="sheet">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <h1>{{ page.title }}</h1>
      <h2>Stroke prevention</h2>
      <p class="lead">Stroke preventaion</p>
    </div>
    <div class="col-md-2">
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="disciplines">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="{{ site.baseurl }}/product-design">Product design</a></li>
          <li class="list-inline-item"><a href="{{ site.baseurl }}/user-experience-designer">UX Design</a></li>
          <li class="list-inline-item"><a href="{{ site.baseurl }}/user-interface-designer">UI Design</a></li>
          <li class="list-inline-item"><a href="{{ site.baseurl }}/brand-development">Brand development</a></li>
          <li class="list-inline-item"><a href="{{ site.baseurl }}/service-design-designer">Service design</a></li>
          <li class="list-inline-item"><a href="{{ site.baseurl }}/user-testing">User testing</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <blockquote>MY CONDITION IS PART OF MY LIFE BUT DOESN’T RULE IT.</blockquote>
      <blockquote>THE APP WOULD NEED TO FOLLOW SUIT, NOT MAKING ME FEEL THAT I AM DEFINED BY MY CONDITION.</blockquote>

      <p>FITTING INTO A LIFESTYLE, NOT GOVERNING IT.</p>
      <p>Engage and empower patients to take active steps to prevent their risk of stroke</p>
      <p>A solution to engage and empower patients to take active steps to prevent their risk of stroke.</p>
      <p>I was approached by Helicon Health to help design a system that would positivly engage with patients and support the needs of the clinic. Working together for 6 months I was responsible for faciliating regular user testing, liasing with clinics as well as to reporting to stakeholders.</p>
      <p>Through the course of the project we conducted extensive user research, produced a brand identity and a user experience that we had 100% confidence in from being user centric.</p>
    </div>
    <div class="col-md-3">
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <img src="https://images1.the-dots.com/1437438/vivo.png?p=projectImageFullJpg" class="img-fluid" alt="Responsive image">
      <img src="https://images1.the-dots.com/1440975/designsystem.png?p=projectImageFullJpg" class="img-fluid" alt="Responsive image">
      <img src="https://images1.the-dots.com/1440993/flow.png?p=projectImageFullJpg" class="img-fluid" alt="Responsive image">
      <img src="https://images1.the-dots.com/1437485/appmap.png?p=projectImageFullJpg" class="img-fluid" alt="Responsive image">
      <img src="https://images1.the-dots.com/1437434/20170824-113438.jpeg?p=projectImageFullJpg" class="img-fluid" alt="Responsive image">
      <img src="https://images1.the-dots.com/1437430/20170824-113509.jpeg?p=projectImageFullJpg" class="img-fluid" alt="Responsive image">
      <img src="https://images1.the-dots.com/1437432/460150f5-00f2-49b9-81df-e612158584a0.jpeg?p=projectImageFullJpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-md-2">
    </div>
  </div>

  {% include clients-list.html %}
  {% include footer.html %}

</div>
