---
layout: default
title: Home
---
  <style>


  </style>

  {% include intro.html %}

  <div class="container-fluid sheet">

    <div id="carouselExampleFade" class="carousel slide carousel-fade">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <blockquote class="blockquote">
            <p>Rob<span class="apostrophe"></span>s been instrumental to redefining the design systems approach at Sainsbury<span class="apostrophe"></span>s.</p>
            <figcaption class="blockquote-footer">
              <a href="#" target="_blank">Beverley Sullivan</a><cite title="Source Title">Head of Design Systems and DesignOps at Sainsbury's</cite>
            </figcaption>
          </blockquote>
        </div>

        <div class="carousel-item">
          <blockquote class="blockquote">
            <p>Rob is a fantastic leader who has embraced and motivated change here at Sainsbury<span class="apostrophe"></span>s.</p>
            <figcaption class="blockquote-footer">
              <a href="#" target="_blank">Bryn Anderson</a><cite title="Source Title">Senior accessibilty specialist at Sainsbury's</cite>
            </figcaption>
          </blockquote>
        </div>

        <div class="carousel-item">
          <blockquote class="blockquote">
            <p>Rob is clear, honest, and self-propelled. Our design team found him easy to work with and the quality of his work is excellent.</p>
            <figcaption class="blockquote-footer">
              <a href="#" target="_blank">Sara Saab</a><cite title="Source Title">VP Product at Prolific</cite>
            </figcaption>
          </blockquote>
        </div>

        <div class="carousel-item">
          <blockquote class="blockquote">
            <p>Rob is a great designer, rapidly producing designs, prototypes, taking user-testing sessions and supporting the dev team in production.</p>
            <figcaption class="blockquote-footer">
              <a href="#" target="_blank">Liam Hughes</a><cite title="Source Title">Senior UX Designer at Trainline</cite>
            </figcaption>
          </blockquote>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
      </button>
    </div>

    {% include project-cards.html %}

    {% include blog-posts.html %}

  </div>

  {% include footer.html %}
