<div class="container-fluid blog-carousel">
  <h4>Blog posts</h4>

  <div class="scroll-container ps-4">

    <div class="card blog">
      <img src="https://miro.medium.com/v2/resize:fit:1400/format:webp/1*ChTVd63ZW3C7VtZKRibx1A.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="https://medium.com/@warface/one-love-one-heart-one-library-f9538419a3e7" target="_blank">One love! One heart! One library!</a></h5>
        <ul class="small-tags">
          <li>Design Systems</li>
          <li>Figma</li>
        </ul>
      </div>
    </div>
    
    <div class="card blog">
      <img src="https://miro.medium.com/v2/resize:fit:1400/1*SXCY3j4cRhYw4b-YEFKyuA.gif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="https://medium.com/@warface/all-in-the-layer-name-d2b25b6e559" target="_blank">All in the (layer) name! Figma tip to get the most out of your variant components.</a></h5>
        <ul class="small-tags">
          <li>Design Systems</li>
          <li>Figma</li>
        </ul>
      </div>
    </div>

    <div class="card blog">
      <img src="assets/images/graphics/blog/intodesignsystems.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="https://www.intodesignsystems.com/" target="_blank">Speaker: Into Design Systems</a></h5>
        <ul class="small-tags">
          <li>Design Systems</li>
          <li>Figma</li>
        </ul>
      </div>
    </div>

    <div class="card blog">
      <img src="https://miro.medium.com/v2/resize:fit:1400/format:webp/1*s4PHjZzY96F8symPUM4zqA.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="https://medium.com/sainsburys-customer-experience/figma-schema-london-takeaways-d1bd0ad65a32" target="_blank">Figma Schema 2022 London — Takeaways</a></h5>
        <ul class="small-tags">
          <li>Design Systems</li>
          <li>Figma</li>
        </ul>
      </div>
    </div>

    <div class="card blog">
      <img src="https://miro.medium.com/v2/resize:fit:1400/1*39YDEU6HX3OsG3v0IGer3Q.gif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="https://medium.com/protopie/calendar-tutorial-with-parallax-images-in-protopie-part-1-dd83ed1cdcf3" target="_blank">Calendar Tutorial with Parallax Images in ProtoPie</a></h5>
        <ul class="small-tags">
          <li>Design Systems</li>
          <li>Figma</li>
        </ul>
      </div>
    </div>

  </div>
</div>
