
<div class="container-fluid clients">
  <div class="row">
    <div class="col-4 col-md-3">
      <span class="helper sainsburys"></span>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper trainline"></span>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper cookpad"></span>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper science-museum"></span>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper justeat"></span>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper lloyds"></span>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper tesco"></span>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper fifa"></span>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper homebase"></span>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper gov"></span>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper rbs"></span>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper experian"></span>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper nectar"></span>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper publicis"></span>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper isobar"></span>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper figma"></span>
    </div>

  </div>
</div>
