<div class="brand-wheel mt-2 mb-2">
  <div class="brand-slide">
    <div class="logo-div sainsburys"></div>
    <div class="logo-div trainline"></div>
    <div class="logo-div GOVUK"></div>
    <div class="logo-div justeat"></div>
    <div class="logo-div science-museum"></div>
    <div class="logo-div carwow"></div>
    <div class="logo-div FIFA"></div>
    <div class="logo-div cookpad"></div>
    <div class="logo-div homebase"></div>
    <div class="logo-div nectar"></div>
  </div>
  <div class="brand-slide delay">
    <div class="logo-div sainsburys"></div>
    <div class="logo-div trainline"></div>
    <div class="logo-div GOVUK"></div>
    <div class="logo-div justeat"></div>
    <div class="logo-div science-museum"></div>
    <div class="logo-div carwow"></div>
    <div class="logo-div FIFA"></div>
    <div class="logo-div cookpad"></div>
    <div class="logo-div homebase"></div>
    <div class="logo-div nectar"></div>
  </div>
</div>
