<footer class="outro">

  <div class="container-fluid">
    <h2><a href="mailto:rob@warface.co.uk">Let<span class="apostrophe"></span>s work <br/>together</a></h2>
    <p><a href="mailto:rob@warface.co.uk">rob@warface.co.uk</a></p>

    <ul class="list-inline">
      <li class="list-inline-item"><a href="https://www.instagram.com/warface/" target="_blank"><i class="fa fa-instagram"></i> <span class="d-none d-md-inline">Instagram</span></a></li>
      <li class="list-inline-item"><a href="https://medium.com/@warface" target="_blank"><i class="fab fa-medium-m"></i> <span class="d-none d-md-inline">Medium</span></a></li>
      <li class="list-inline-item"><a href="https://dribbble.com/warface" target="_blank"><i class="fa fa-dribbble"></i>  <span class="d-none d-md-inline">Dribbble</span></a></li>
      <li class="list-inline-item"><a href="https://www.linkedin.com/in/robcleaton-mobile-product-designer" target="_blank"><i class="fa fa-linkedin"></i>  <span class="d-none d-md-inline">LinkedIn</span></a></li>
    </ul>
    <p><a data-toggle="tooltip" data-placement="top" title="Don't copy the copywrite">&copy; {{ site.time | date: '%Y' }} warface</a></p>
  </div>

</footer>

<script>
</script>
