<style>

@media only screen and (max-width: 600px) {
  .intro.hero {
      transform: translate(0%, 17%);
    }
}

</style>

<div class="intro hero">
  <div class="container-flex" style="margin-bottom: 60px;">
    <div class="row">
      <div class="col-xl-1">
      </div>
      <div class="col-xl-9">
        <h1>Crafting <br>Innovative & User Centric Product Experiences.</h1>
        <p class="lead">Works of Rob Cleaton. 18 years experience specialising in design leadership, design systems and mobile product design.</p>
      </div>
      <div class="col-xl-2">
      </div>
    </div>
  </div>

  {% include clients-carousel.html %}

</div>
