<style>
  .intro.hero {
    transform: translate(-50%, -46%);
  }
.intro {
  h1 {
    font-size: 17vh;
    line-height: 11.3vh;
  }
  p.lead {
    text-align: left;
    margin-left: 0px;
    font-size: 28px;
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .intro.hero {
      transform: translate(0%, 0%);
    }

  .intro {
      p.lead {
        font-size: 19px;
      }

      h1 {
        font-size: 22vw;
        line-height: 14.1vw;
        font-family: 'Beni';
      }
      <!-- h1 {
        font-size: 8vw;
        line-height: 10vw;
        font-family: 'IBM Plex Mono';
        text-transform: none;
      } -->
    }
}

</style>

<div class="intro hero">
  <div class="container-flex" style="margin-bottom: 60px;">
    <div class="row">
      <div class="col-xl-1">
      </div>
      <div class="col-xl-9">
        <p class="lead">Works of Rob Cleaton</p>
        <h1>Works of Rob Cleaton. 18 years experience leading teams & designing award winning experiences.</h1>
      </div>
      <div class="col-xl-2">
      </div>
    </div>
  </div>

  {% include clients-carousel.html %}

</div>
