<style>

@media only screen and (max-width: 600px) {
  .intro.hero {
      transform: translate(0%, 17%);
    }
}

.intro.hero {
    h1 {
      font-size: 332px;
      line-height: 218px;
      word-spacing: -14px;
    }

    p.lead {
      padding-top: 32px;
    }
  }

</style>

<div class="intro hero">
  <div class="container-flex" style="margin-bottom: 60px;">
    <div class="row">
      <div class="col-xl-1">
      </div>
      <div class="col-xl-9">
        <h1 class="mb-0">Army <br>of me</h1>
        <p class="animate lead">Works of Rob Cleaton. 18 years experience, leading, growing and supporting businesses and design teams wherever they are in their design journey.</p>
      </div>
      <div class="col-xl-2">
      </div>
    </div>
  </div>

  {% include clients-carousel.html %}

</div>
