<style>

@media only screen and (max-width: 600px) {
  .intro.hero {
      transform: translate(0%, 17%);
    }
}
.animate-text {
  height: 140px;
  overflow: hidden;
  font-family: var(--brand);
  color: var(--grey-800);
  margin-bottom: 0px;
}

.animate-text span {
  font-size: clamp(150px, 13vw, 192px);
  line-height: clamp(102px, 8.1vw, 128px);
  display: none;
  word-spacing: -14px;
}

.animate-text span.text-in{
	display: block;
	animation: textIn .5s ease;
}
.animate-text span.text-out{
	animation: textOut 1s ease;
}
@keyframes textIn{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(0%);
	}
}
@keyframes textOut{
	0%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-100%);

	}
}
</style>

<div class="intro hero">
  <div class="container-flex" style="margin-bottom: 60px;">
    <div class="row">
      <div class="col-xl-1">
      </div>
      <div class="col-xl-9">
        <h1 class="animate">Independant <br>designer, creating better</h1>

        <p class="animate animate-text">
          <span>Experiences</span>
          <span>Design Systems</span>
          <span>Product design</span>
          <span>Mobile apps</span>
          <span>UI/UX design</span>
          <span>Front end</span>
          <span>Design leadership</span>
        </p>

      </div>
      <div class="col-xl-2">
      </div>
    </div>
  </div>

  {% include clients-carousel.html %}

</div>
