<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <a class="navbar-brand" href="/"></a>

  <div class="container-fluid">
    <!-- pixi inserts itself by default -->
    <!-- <button id="toggleBlur" data-amount="0">Toggle Orb Blur</button>-->

    <button class="btn btn-toggle" type="button" aria-label="Theme">
      <span class="navbar-toggler-icon theme-light"></span>
    </button>

    <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon list"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="values">Values</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="work">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact">Contact</a>
        </li>

        <h3>Get in touch</h3>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="https://www.instagram.com/warface/" target="_blank"><i class="fa fa-instagram"></i> <span class="d-none d-md-inline">Instagram</span></a></li>
          <li class="list-inline-item"><a href="https://medium.com/@warface" target="_blank"><i class="fab fa-medium-m"></i> <span class="d-none d-md-inline">Medium</span></a></li>
          <li class="list-inline-item"><a href="https://dribbble.com/warface" target="_blank"><i class="fa fa-dribbble"></i>  <span class="d-none d-md-inline">Dribbble</span></a></li>
          <li class="list-inline-item"><a href="https://www.linkedin.com/in/robcleaton-mobile-product-designer" target="_blank"><i class="fa fa-linkedin"></i>  <span class="d-none d-md-inline">LinkedIn</span></a></li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
