<div class="project-card-group">

  <!-- Sainsburys Design System -->
  <div class="project-card sainsburys">
    <!-- Image thumbnail
    <img src="assets/images/projects/sainsburys/sainsburys-intro-hero.png" class="card-img-top" alt="..."> -->
    <div class="client"></div>
    <h2><a href="sainsburys-design-system">Multi-brand Design system</a></h2>
    <p class="lead">Headless design system across 5 brands across mulit-platforms.</p>
    <ul class="project-tags">
      <li>Design Systems</li>
      <li>Multi-brand</li>
      <li>Multi-platform</li>
      <li>Design Tokens</li>
      <li>Design leadership</li>
      <li>iOS</li>
      <li>Android</li>
      <li>Web</li>
    </ul>
  </div>

  <!-- Trainline apps -->
  <div class="project-card trainline">
    <div class="client"></div>
    <div class="roundel">
      <div class="app-store"></div>
      <div class="award-roundel"></div>
    </div>

    <h2><a href="trainline-mobile-apps-ux-case-study">Customer champion of<br> train travel</a></h2>
    <p class="lead">Leading UX & UI design in mobile apps.</p>
    <ul class="project-tags">
      <li>User centric</li>
      <li>Product design</li>
      <li>Mobile products</li>
      <li>iOS</li>
      <li>Android</li>
    </ul>
  </div>

  <!-- Just Eat -->
  <!-- <div class="project-card justeat">
    <div class="client"></div>
    <h2><a href="just-eat-restaurant-partner-tools">Restaurant Partner tools</a></h2>
    <p class="lead">Self serving restaurant tools.</p>
    <ul class="project-tags">
      <li>User centric</li>
      <li>User testing</li>
      <li>Product design</li>
      <li>B2B</li>
    </ul>
  </div> -->

  <!-- Cookpad -->
  <div class="project-card cookpad">
    <div class="client"></div>
    <h2><a href="cookpad-mobile-apps">Make <br>everyday<br> cooking fun!</a></h2>
    <p class="lead">Product feature developments for the recipe sharing platform.</p>
    <ul class="project-tags">
      <li>Design Systems</li>
      <li>Multilingual</li>
      <li>Product design</li>
      <li>iOS</li>
      <li>Android</li>
    </ul>
  </div>

  <!-- GOVUK Home office -->
  <!-- <div class="project-card govuk">
    <div class="client"></div>

    <h2><a href="">Syrian refugee resettlement program</a></h2>
    <p class="lead">Leading UX & UI design in mobile apps.</p>
    <ul class="project-tags">
      <li>Design System</li>
      <li>Prototype</li>
      <li>UX design</li>
      <li>SC clearance</li>
    </ul>
  </div> -->

  <!-- <div class="project-card backbeat">
    <div class="client"></div>
    <h2><a href="backbeat-design-systems">Backbeat .systems</a></h2>
    <p class="lead">Multi-brand, mulit-platform scalable design systems.</p>
    <ul class="project-tags">
      <li>Design Systems</li>
      <li>Product design</li>
      <li>Side project</li>
    </ul>
  </div> -->

  <!-- OATBook -->
  <div class="project-card oatbook">
    <div class="client"></div>
    <div class="roundel">
      <div class="lovie"></div>
      <div class="award-roundel"></div>
    </div>

    <h2><a href="oatbook-medical-app">OATBook<br>Medical app</a></h2>
    <p class="lead">Helping patients manage their blood thinning medication.</p>
    <ul class="project-tags">
      <li>Healthcare</li>
      <li>Medical app</li>
      <li>iOS</li>
      <li>Side project</li>
    </ul>
  </div>

  <!-- Lloyds banking app -->
  <div class="project-card lloyds">
    <div class="client"></div>

    <h2><a href="lloyds-open-banking-mobile-apps-ux">Open Banking:<br>All accounts <br>in one place</a></h2>
    <p class="lead">Feature discovery and mobile app developments.</p>
    <ul class="project-tags">
      <li>Banking</li>
      <li>Mobile design</li>
      <li>Financial services</li>
      <li>Concept testing</li>
    </ul>
  </div>

  <!-- RecliningWorm -->
  <div class="project-card recliningworm">
    <div class="client"></div>
    <h2><a href="reclining-worm-etsy-shop">90<span class="apostrophe"></span>s <br>Stick-ups</a></h2>
    <p class="lead">Illustration and Etsy shop.</p>
    <ul class="project-tags">
      <li>Illustration</li>
      <li>Side project</li>
      <li>Etsy Shop</li>
    </ul>
  </div>
</div>
