<div class="project-card-group">
  <div class="project-card sainsburys hideme">
    <div class="client"></div>
    <h2><a href="sainsburys-design-system">Multi-brand Design system</a></h2>
    <p class="lead">Multi-brand, mulit-platform scalable design systems.</p>
    <ul class="project-tags">
      <li>Design Systems</li>
      <li>Multi-brand</li>
      <li>Multi-platform</li>
      <li>iOS</li>
      <li>Android</li>
      <li>Web</li>
    </ul>
  </div>

  <!-- <div class="project-card carwow hideme">
    <div class="client"></div>
    <h2><a href="carwow-rebrand-design-system">Design system rebrand</a></h2>
    <p class="lead">Multi-brand, mulit-platform scalable design systems.</p>
    <ul class="project-tags">
      <li>Rebrand</li>
      <li>Design System</li>
      <li>Figma</li>
    </ul>
  </div> -->

  <div class="project-card trainline hideme">
    <div class="client"></div>
    <h2><a href="trainline-mobile-apps-ux-case-study">Customer champion of train travel</a></h2>
    <p class="lead">Leading UX & UI design in mobile apps.</p>
    <ul class="project-tags">
      <li>User centric</li>
      <li>Product design</li>
      <li>iOS</li>
      <li>Android</li>
    </ul>
  </div>

  <!-- <div class="project-card justeat hideme">
    <div class="client"></div>
    <h2><a href="just-eat-restaurant-partner-tools">Restaurant tools</a></h2>
    <p class="lead">Multi-brand, mulit-platform scalable design systems.</p>
    <ul class="project-tags">
      <li>User centric</li>
      <li>Product design</li>
      <li>B2B</li>
    </ul>
  </div> -->

  <!-- <div class="project-card cookpad">
    <div class="client"></div>
    <h2><a href="cookpad-mobile-apps">Make everyday cooking fun!</a></h2>
    <p class="lead">Multi-brand, mulit-platform scalable design systems.</p>
    <ul class="project-tags">
      <li>Design Systems</li>
      <li>Multilingual</li>
      <li>Product design</li>
      <li>iOS</li>
      <li>Android</li>
    </ul>
  </div> -->

  <!-- <div class="project-card backbeat">
    <div class="client"></div>
    <h2><a href="backbeat-design-systems">Backbeat .systems</a></h2>
    <p class="lead">Multi-brand, mulit-platform scalable design systems.</p>
    <ul class="project-tags">
      <li>Design Systems</li>
      <li>Product design</li>
      <li>Side project</li>
    </ul>
  </div> -->

  <div class="project-card oatbook">
    <div class="client"></div>
    <h2><a href="oatbook-medical-app">OATBook Medical app</a></h2>
    <p class="lead">Helping patients manage their medication.</p>
    <ul class="project-tags">
      <li>Medical app</li>
      <li>iOS</li>
      <li>Side project</li>
    </ul>
  </div>

  <div class="project-card recliningworm">
    <div class="client"></div>
    <h2><a href="reclining-worm-etsy-shop">90<span class="apostrophe"></span>s heroes</a></h2>
    <p class="lead">Illustration and Etsy shop.</p>
    <ul class="project-tags">
      <li>Illustration</li>
      <li>Side project</li>
      <li>Etsy Shop</li>
    </ul>
  </div>
</div>
