

<div class="brand-wheel work-samples">
  <div class="brand-slide">
    <div class="work-sample-div">
      <img src="../assets/images/projects/trainline/trainline-mobile-apps.jpg" class="img-thumbnail rounded" alt="1">
    </div>
    <div class="work-sample-div">
      <img src="../assets/images/projects/worksamples/cookpad-splash.png" class="img-thumbnail rounded" alt="1">
    </div>
    <div class="work-sample-div">
      <img src="../assets/images/projects/worksamples/cookpad-mise.png" class="img-thumbnail rounded" alt="1">
    </div>
    <!-- <div class="work-sample-div">
      <img src="https://akoyamockups.com/cdn/shop/files/Image_02_comp_713c8f40-8220-4a01-9323-344c2dd4cac2.jpg?v=1713796793&width=1100" class="img-thumbnail rounded" alt="Trainline watch">
    </div>
    <div class="work-sample-div">
      <img src="https://akoyamockups.com/cdn/shop/files/Image_02_comp_34981341-c59d-4d59-8b8e-73bc21381e20.jpg?v=1710707265&width=1100" class="img-thumbnail rounded" alt="Cookpad Splash">
    </div>
    <div class="work-sample-div">
      <img src="https://akoyamockups.com/cdn/shop/files/Image_02_comp_00e05ec7-1879-4d26-aa16-3c26eebd5a0d.jpg?v=1715070902&width=2000" class="img-thumbnail rounded" alt="Sainsburys">
    </div>
    <div class="work-sample-div">
      <img src="https://akoyamockups.com/cdn/shop/files/Image_03_comp_9a658a67-0c6f-444a-9a7c-7b82f0676041.jpg?v=1718643487&width=1100" class="img-thumbnail rounded" alt="RecliningWorm pin">
    </div>
    <div class="work-sample-div">
      <img src="https://akoyamockups.com/cdn/shop/files/Image_01_comp_4ef8ede0-158f-42b5-a5f3-bc4103b97c9c.jpg?v=1705233395&width=750" class="img-thumbnail rounded" alt="Matillion Hex">
    </div> -->
    <div class="work-sample-div">
      <img src="../assets/images/projects/worksamples/trainline-valid-on-2.png" class="img-thumbnail rounded" alt="7">
    </div>
    <div class="work-sample-div">
      <img src="../assets/images/projects/worksamples/trainline-icons.png" class="img-thumbnail rounded" alt="1">
    </div>
    <div class="work-sample-div">
      <img src="../assets/images/projects/worksamples/trainline-apple-watch.png" class="img-thumbnail rounded" alt="7">
    </div>
    <div class="work-sample-div">
      <img src="../assets/images/projects/worksamples/trainline-apple-watch-2.png" class="img-thumbnail rounded" alt="7">
    </div>
    <div class="work-sample-div">
      <img src="../assets/images/projects/worksamples/cookpad-profile.png" class="img-thumbnail rounded" alt="7">
    </div>
    <div class="work-sample-div">
      <img src="../assets/images/projects/worksamples/cookpad-cooksnap-share.png" class="img-thumbnail rounded" alt="7">
    </div>
    <div class="work-sample-div">
      <img src="../assets/images/projects/worksamples/street-fighter-stickerpack.png" class="img-thumbnail rounded" alt="7">
    </div>
    <div class="work-sample-div">
      <img src="../assets/images/projects/worksamples/recliningworm-oakland-museum.png" class="img-thumbnail rounded" alt="1">
    </div>
    <div class="work-sample-div">
      <img src="../assets/images/projects/recliningworm/wwf/LODPin.jpg" class="img-thumbnail rounded" alt="7">
    </div>
  </div>

  <div class="brand-slide delay">
    <div class="work-sample-div">
      <img src="../assets/images/projects/trainline/trainline-mobile-apps.jpg" class="img-thumbnail rounded" alt="1">
    </div>
    <div class="work-sample-div">
      <img src="https://akoyamockups.com/cdn/shop/files/Image_02_comp_713c8f40-8220-4a01-9323-344c2dd4cac2.jpg?v=1713796793&width=1100" class="img-thumbnail rounded" alt="Trainline watch">
    </div>
    <div class="work-sample-div">
      <img src="https://akoyamockups.com/cdn/shop/files/Image_02_comp_34981341-c59d-4d59-8b8e-73bc21381e20.jpg?v=1710707265&width=1100" class="img-thumbnail rounded" alt="Cookpad Splash">
    </div>
    <div class="work-sample-div">
      <img src="https://akoyamockups.com/cdn/shop/files/Image_02_comp_00e05ec7-1879-4d26-aa16-3c26eebd5a0d.jpg?v=1715070902&width=2000" class="img-thumbnail rounded" alt="Sainsburys">
    </div>
    <div class="work-sample-div">
      <img src="https://akoyamockups.com/cdn/shop/files/Image_03_comp_9a658a67-0c6f-444a-9a7c-7b82f0676041.jpg?v=1718643487&width=1100" class="img-thumbnail rounded" alt="RecliningWorm pin">
    </div>
    <div class="work-sample-div">
      <img src="https://akoyamockups.com/cdn/shop/files/Image_01_comp_4ef8ede0-158f-42b5-a5f3-bc4103b97c9c.jpg?v=1705233395&width=750" class="img-thumbnail rounded" alt="Matillion Hex">
    </div>
    <div class="work-sample-div">
      <img src="../assets/images/projects/worksamples/trainline-valid-on.png" class="img-thumbnail rounded" alt="7">
    </div>
    <div class="work-sample-div">
      <img src="../assets/images/projects/worksamples/trainline-apple-watch.png" class="img-thumbnail rounded" alt="7">
    </div>
    <div class="work-sample-div">
      <img src="../assets/images/projects/worksamples/trainline-apple-watch-2.png" class="img-thumbnail rounded" alt="7">
    </div>
    <div class="work-sample-div">
      <img src="../assets/images/worksamples/street-fighter-stickerpack.png" class="img-thumbnail rounded" alt="7">
    </div>
    <div class="work-sample-div">
      <img src="../assets/images/projects/recliningworm/wwf/LODPin.jpg" class="img-thumbnail rounded" alt="7">
    </div>
  </div>
</div>
