// Site structure
@import
        "resets",
        "navigation",
        "typography",
        "colour",
        "home",
        "quote-carousel",
        "case-study",
        "cards",
        "scroll",
        "case-study-carousels",
        "blog-cards",
        "animate",
        "footer",
        "media"
;

a:hover {
  color: var(--white);
  text-decoration: none;
}

.navbar {
  padding: 0px;
}

.table td, .table th {
  border-color: var(--grey-600);
}

ul.tag-chips {
  font-family: var(--mono);
  list-style: none;
  padding: 0px;
  display: flex;
  margin-top: 16px;
  margin-bottom: 0px;
  flex-wrap: wrap;
  gap: 8px;

  li {
    border: 2px solid var(--grey-300);
    color: var(--grey-300);
    width: fit-content;
    border-radius: 30px;
    padding: 6px 16px;
    font-size: 16px;
    transition: .4s;

    &:hover {
      background: var(--white);
      border-color: var(--white);
      color: var(--grey-800);
    }
  }
}
