// Site structure
@import
        "resets",
        "navigation",
        "typography",
        "colour",
        "clients",
        "home",
        "quote-carousel",
        "case-study",
        "cards",
        "scroll",
        "case-study-carousels",
        "blog-cards",
        "footer",
        "dark-mode",
        "media"
;

a:hover {
  color: var(--white);
  text-decoration: none;
}

.navbar {
  padding: 0px;
}
