.scroll-container {
  overflow: auto;
  display: flex;
  align-items: stretch;
  gap: 12px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-container::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scroll-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.blog-carousel {
  .card {
    transition: .4s;
    min-width: 28vw;
    border: none;
    border-radius: 16px;

    .card-title a {
      font-family: var(--mono);
      font-weight: 400;
      text-transform: none;
      font-size: 28px;
      word-spacing: -8px;
      line-height: 18px;
    }
    img {
      height: 240px;
      object-fit: cover;
    }
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      display: flex;
    }
    .small-tags li {
      font-size: 14px;
      margin: 24px 8px 0px 0px;
      border-radius: 12px;
      padding: 2px 12px;
      transition: .3s;
    }
    .small-tags li:hover {
      color: white;
      border: none;
    }
  }
}

.card:hover {
  -ms-transform: scale(0.98); /* IE 9 */
  -webkit-transform: scale(0.98); /* Safari 3-8 */
  transform: scale(0.98);
  background: #ff9283;
}
.card .card-img-top {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
