// Project cards
.project-card {
  width: 100%;
  transition: .4s;
  padding: 20px 16px;
  border-radius: 16px;
  // padding-top: 28vh;
  // min-height: 44vh;

  h2 {
    max-width: 90%;
    font-size: clamp(16px, 16vw, 300px);
    word-spacing: -1.8vw;
    letter-spacing: -0.1vw;
    line-height: 12.2vw;
    line-height: clamp(16px, 10.8vw, 204px);
  }
  h2 a {
    text-decoration: none;
    color: var(--white);
  }
  p {
    font-family: var(--mono);
    font-size: 16px;
    line-height: 20px;
    margin: 0px;
  }

  .client {
    margin-bottom: 8px;
    transition: transform .2s;
  }

  ul.project-tags {
    font-family: var(--mono);
    list-style: none;
    padding: 0px;
    display: flex;
    margin-top: 16px;
    margin-bottom: 0px;
    flex-wrap: wrap;
    gap: 8px;

    li {
      border: 2px solid var(--white);
      color: white;
      width: fit-content;
      border-radius: 30px;
      padding: 6px 16px;
      font-size: 16px;
      transition: .4s;
    }
    li:hover {
      background: var(--white);
      color: var(--black);
    }
  }
}

.project-card:hover {
  -ms-transform: scale(0.98); /* IE 9 */
  -webkit-transform: scale(0.98); /* Safari 3-8 */
  transform: scale(0.98);
}


// Clients

  // Sainsburys
    .project-card.sainsburys {
      // background-image: linear-gradient(to bottom right, var(--sainsburys-1), var(--sainsburys-2));
      // background-image: url('../images/projects/sainsburys/sainsburys-intro-hero.png');
      // background-size: contain;
      background-color: var(--sainsburys-1);

      .client {
        background: url('../images/logos/sainsburys-black-logo.svg') no-repeat;
        height: 32px;
        background-size: contain;
      }
    }
    .project-card.sainsburys:hover {
      background: var(--sainsburys-3);
        .client {
          background: url('../images/logos/sainsburys-white-logo.svg') no-repeat;
          background-size: contain;
        }
        h2 a, p.lead {
          color: var(--sainsburys-1);
        }
        h2 a:hover {
          color: var(--white);
        }
        ul.project-tags li:hover {
          background-color: var(--sainsburys-1);
          color: var(--white);
        }
    }

  // Trainline
    .project-card.trainline {
      background: var(--trainline-1);

      .client {
        background: url('../images/logos/tl-black-logo.svg') no-repeat;
        height: 32px;
        background-size: contain;
      }
      h2 a, p.lead {
        text-decoration: none;
        color: var(--trainline-2);
      }
    }
    .project-card.trainline:hover {
      background: var(--trainline-3);
        .client {
          background: url('../images/logos/tl-white-logo.svg') no-repeat;
          background-size: contain;
        }
        h2 a, p.lead {
          color: var(--trainline-1);
        }
        h2 a:hover {
          color: var(--white);
        }
        ul.project-tags li:hover {
          background-color: var(--trainline-1);
          color: var(--white);
        }
    }


  // JustEat
    .project-card.justeat {
      background: var(--justeat-1);
      .client {
        background: url('../images/logos/justeat-black-logo.svg') no-repeat;
        height: 32px;
        background-size: contain;
      }
    }
    .project-card.justeat:hover {
      background: var(--justeat-2);
        .client {
          background: url('../images/logos/justeat-white-logo.svg') no-repeat;
          background-size: contain;
        }
        h2 a:hover {
          color: var(--justeat-3);
        }
        ul.project-tags li:hover {
          background-color: var(--justeat-3);
          color: var(--white);
        }
    }

  // Cookpad
    .project-card.cookpad {
      background: var(--cookpad-1);
        .client {
          background: url('../images/logos/cookpad-black-logo.svg') no-repeat;
          height: 40px;
          background-size: contain;
        }
        h2 a, p.lead {
          color: var(--cookpad-2);
        }
        ul.project-tags li {
          border: 1px solid var(--cookpad-2);
          color: var(--cookpad-2);
        }
    }
    .project-card.cookpad:hover {
      background: var(--cookpad-3);
        h2 a {
          color: #734214;
        }
        h2 a:hover {
          color: var(--cookpad-2);
        }
        ul.project-tags li:hover {
          background: var(--cookpad-2);
          border: 1px solid var(--cookpad-2);
          color: var(--cookpad-3);
        }
    }

  // OATBook
    .project-card.oatbook {
      background: var(--oatbook-1);

        h2 a, p.lead {
          color: #2a2a2a;
        }
        ul.project-tags li {
          border: 1px solid #2a2a2a;
          color: var(--oatbook-3);
        }
    }
    .project-card.oatbook:hover {
      // background: #fae9cb;
        h2 a:hover {
          color: var(--white);
          color: #383838;
        }
        ul.project-tags li:hover {
          background-color: var(--oatbook-3);
          color: var(--white);
        }
    }


  // BackBeat
    .project-card.backbeat {
      background: coral;
      .client {
        background: url('../images/logos/backbeat-black.svg') no-repeat;
        height: 52px;
        background-size: contain;
      }
    }
    .project-card.backbeat:hover {
      background: blue;
      .client {
        background: url('../images/logos/backbeat-white.svg') no-repeat;
        height: 52px;
        background-size: contain;
      }
    }



  // RecliningWorm
    .project-card.recliningworm {
      background: var(--recliningworm-1);
      .client {
        background: url('../images/logos/recliningworm-logo-white.svg') no-repeat;
        height: 52px;
        background-size: contain;
      }
    }
    .project-card.recliningworm:hover {
      background: #542188;
        .client {
          background: url('../images/logos/recliningworm-logo-white.svg') no-repeat;
          height: 52px;
          background-size: contain;
        }
        h2 a:hover {
          color: var(--trainline-1);
        }
        p.lead {
          color: var(--white);
        }
        ul.project-tags li:hover {
          background-color: var(--trainline-1);
          color: var(--white);
        }
    }
