// Project cards

.project-card {
  width: 100%;
  padding-bottom: 62px;
  transition: .4s;
  padding: 20px 16px;
  border-radius: 16px;
  min-height: 44vh;

  h2 {
    max-width: 90%;
    font-size: clamp(16px, 16vw, 328px);
    word-spacing: -1.8vw;
    letter-spacing: -0.1vw;
    line-height: 10.6vw;
    font-size: 18vw;
    line-height: 12.2vw;
  }
  h2 a {
    text-decoration: none;
  }
  p {
    font-family: var(--mono);
    font-size: 16px;
    line-height: 20px;
    margin: 0px;
  }

  .client {
    margin-bottom: 8px;
    transition: transform .2s;
  }

  ul.project-tags {
    list-style: none;
    padding: 0px;
    display: flex;
    margin-top: 16px;
    margin-bottom: 0px;
    flex-wrap: wrap;
    gap: 8px;

    li {
      border: 2px solid var(--white);
      color: white;
      width: fit-content;
      border-radius: 30px;
      padding: 6px 16px;
      font-size: 16px;
      transition: .4s;
    }
    li:hover {
      background: var(--white);
      color: var(--black);
    }
  }
}

.project-card:hover {
  -ms-transform: scale(0.98); /* IE 9 */
  -webkit-transform: scale(0.98); /* Safari 3-8 */
  transform: scale(0.98);
}


// Clients

// Sainsburys
  .project-card.sainsburys {
    background: #FF6B18;
    .client {
      background: url('../images/logos/sainsburys-black-logo.svg') no-repeat;
      height: 32px;
      background-size: contain;
    }
  }
  .project-card.sainsburys:hover {
    background: #fe4141;
    .client {
      background: url('../images/logos/sainsburys-white-logo.svg') no-repeat;
      background-size: contain;
    }
  }

// Trainline
  .project-card.trainline {
    background: #48D5B5;

    .client {
      background: url('../images/logos/tl-black-logo.svg') no-repeat;
      height: 32px;
      background-size: contain;
    }
  }
  .project-card.trainline:hover {
    background: var(--trainline-3);
    .client {
      background: url('../images/logos/tl-white-logo.svg') no-repeat;
      background-size: contain;
    }
    p.lead {
      color: var(--white);
    }
  }

// Carwow
  .project-card.carwow {
    background: #33e9f2;

    .client {
      background: url('../images/logos/carwow-black-logo.svg') no-repeat;
      height: 24px;
      background-size: contain;
    }
  }
  .project-card.carwow:hover {
    background: blue;
    .client {
      background: url('../images/logos/carwow-white-logo.svg') no-repeat;
      background-size: contain;
    }
  }

// JustEat
  .project-card.justeat {
    background: #FD8024;
    .client {
      background: url('../images/logos/justeat-black-logo.svg') no-repeat;
      height: 32px;
      background-size: contain;
    }
  }
  .project-card.justeat:hover {
    background: pink;
  }

// Cookpad
  .project-card.cookpad {
    background: #FF9933;
    .client {
      background: url('../images/logos/cookpad-black-logo.svg') no-repeat;
      height: 40px;
      background-size: contain;
    }
  }
  .project-card.cookpad:hover {
    background: red;
    .client {
      background: url('../images/logos/cookpad-white-logo.svg') no-repeat;
      height: 40px;
      background-size: contain;
    }
  }

// BackBeat
  .project-card.backbeat {
    background: coral;
    .client {
      background: url('../images/logos/backbeat-black.svg') no-repeat;
      height: 52px;
      background-size: contain;
    }
  }
  .project-card.backbeat:hover {
    background: blue;
    .client {
      background: url('../images/logos/backbeat-white.svg') no-repeat;
      height: 52px;
      background-size: contain;
    }
  }



// RecliningWorm
  .project-card.recliningworm {
    background: var(--recliningworm-1);
    .client {
      background: url('../images/logos/recliningworm-logo-white.svg') no-repeat;
      height: 52px;
      background-size: contain;
    }
  }
  .project-card.recliningworm:hover {
    background: #542188;
    .client {
      background: url('../images/logos/recliningworm-logo-white.svg') no-repeat;
      height: 52px;
      background-size: contain;
    }
  }

// OATBook
  .project-card.oatbook {
    background: #FDB813;
  }
  .project-card.oatbook:hover {
    background: #e93d13;
  }
