
.roundel {
  position: relative;
  right: -16px;
  top: -16px;

  .lovie {
    background: url('../images/graphics/lovie-award-winner.svg')center center no-repeat;
    background-size: 48%;
    height: clamp(140px, 20vw, 1000px);
    width: clamp(140px, 20vw, 1000px);
    z-index: 10;
    rotate: 8deg;
    right: 4%;
    top: 14%;
    position: absolute;
  }
  .app-store {
    background: url('../images/graphics/app-store-best-of.svg')center center no-repeat;
    background-size: 58%;
    height: clamp(140px, 20vw, 1000px);
    width: clamp(140px, 20vw, 1000px);
    z-index: 10;
    rotate: 8deg;
    right: 4%;
    top: 14%;
    position: absolute;
  }
  .award-roundel {
    background: url('../images/graphics/award-roundel-sm.svg')center center no-repeat;
    background-size: 100%;
    height: clamp(140px, 20vw, 1000px);
    width: clamp(140px, 20vw, 1000px);
    position: absolute;
    right: 4%;
    top: 14%;
    transform: translate(0px, -140px);
    -webkit-animation: spin 50s infinite linear;
    z-index: 2;
  }
  @-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
  }
}
