
.subpage {
  .intro {
    top: 0;
    margin-top: 0px;
  }
}
.case-study .sheet {
  background: #cecece;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 84vh;

  .logo-div {
    margin: 0px;
  }
}


// Sainsburys
  .sainsburys {
    a {
      color: pink;
    }
  }
// Trainline
  .trainline {
    footer a {
      color: #043c2f;
    }
    a {
      color: #48D5B5;
    }
  }
