
.subpage {
  .intro {
    top: 0;
    margin-top: 0px;
  }
}
.case-study .sheet {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 72vh;

  .logo-div {
    margin: 0px;
  }
  a:hover {
    text-decoration: underline;
  }
}


// Sainsburys
  .sainsburys {
  }

// Trainline
.trainline {
  .logo-div.trainline {
    background: url(../images/logos/tl-white-logo.svg) center no-repeat;
    background-size: contain;
    height: 28px;
    width: 130px;
  }
  .intro {
    background: url('/assets/images/projects/trainline/trainline-mobile-apps.jpg') center 30% no-repeat;
    height: 100%;
    background-size: contain;
    top: 0;
    margin-top: 0px;
    background-color: #21304F;
  }
}
.carwow {
  .intro {
    background: url('/assets/images/projects/carwow/carwow-intro.png') center 30% no-repeat;
    height: 100%;
    background-size: cover;
    top: 0;
    margin-top: 0px;
  }
}
.oatbook {
  .intro {
    background: url('/assets/images/projects/oatbook/image-asset.png') center 30% no-repeat;
    height: 100%;
    background-size: cover;
    top: 0;
    margin-top: 0px;
  }
}
