:root {
  --warface: #ffc436;
  --coral: #ff581a;

  --white: #ffffff;
  --grey-50: #212121;
  --grey-100: #F3F4F6;
  --grey-200: #D0D0D0;
  --grey-300: #B2B2B2;
  --grey-400: #949494;
  --grey-500: #777777;
  --grey-600: #595959;
  --grey-700: #3C3C3C;
  --grey-800: #1E1E1E;
  --black: #000000;

  --sainsburys-1: #F06C00;
  --sainsburys-2: #E55000;
  --sainsburys-3: #7F0442;

  --govuk-1: #000000;
  --govuk-2: #ffffff;
  --govuk-3: var(--grey-800);

  --trainline-1: #48D5B5;
  --trainline-2: #043c2f;
  --trainline-3: #21304D;

  --cookpad-1: #FF9933;
  --cookpad-2: #5f340b;
  --cookpad-3: #ffbf7f;

  --justeat-1: #FF8000;
  --justeat-2: #F36805;
  --justeat-3: #242e30;

  --lloyds-1: #11b67a;
  --lloyds-2: #000000;
  --lloyds-3: #043c2f;

  --carwow-1: #33e9f2;
  --carwow-2: #191919;

  --matillion-1: #19E57F;
  --matillion-2: #19E57F;
  --matillion-3: #063920;

  --oatbook-1: #FDB813;
  --oatbook-2: #553c00;
  --oatbook-3: #2a2a2a;

  --recliningworm-1: #AF48DF;
  --recliningworm-2: #33194d;

  --shithead-1: #F8331E;
  --shithead-2: #540800;
  --shithead-3: #FEFFF1;
}

@import "theme-light";
  // body {
  //   --bkg-color: #fff;
  // }
