:root {
  --warface: #ffc436;

  --white: #ffffff;
  --grey-50: #212121;
  --grey-100: #F3F4F6;
  --grey-200: #D0D0D0;
  --grey-300: #B2B2B2;
  --grey-400: #949494;
  --grey-500: #777777;
  --grey-600: #595959;
  --grey-700: #3C3C3C;
  --grey-800: #1E1E1E;
  --black: #000000;

  --sainsburys-1: #FF6B18;
  --sainsburys-2: #541a1a;

  --trainline-1: #48D5B5;
  --trainline-2: #043c2f;
  --trainline-3: #21304D;

  --cookpad-1: #FF9933;
  --cookpad-2: #541a1a;

  --justeat-1: #fb6100;
  --justeat-2: #efedea;

  --oatbook-1: #ffc718;
  --oatbook-2: #553c00;

  --recliningworm-1: #AF48DF;
  --recliningworm-2: #33194d;

}

@import "theme-light";
  // body {
  //   --bkg-color: #fff;
  // }

body.dark-theme {
  @import "theme-dark";
    // body {
    //   //--text-color: white;
    //   --bkg-color: black;
    // }
}
