@media (prefers-color-scheme: dark) {

  @import "theme-dark";
  canvas {
    filter: saturate(0);
    -webkit-backdrop-filter: saturate(20%);
    backdrop-filter: saturate(20%);
    opacity: 60%;
  }

  body.light-theme {
    @import "theme-light";

    canvas {
      filter: saturate(1);
      -webkit-backdrop-filter: saturate(100%);
      backdrop-filter: saturate(100%);
      opacity: 100%
    }
  }
}
