// footer

footer {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 40px;
  z-index: 50;
  opacity: 0;
  margin-bottom: 24px;

  h2 {
    font-family: var(--brand);
    font-size: clamp(16px, 22vw, 328px);
    line-height: clamp(16px, 14.4vw, 232px);
    margin-bottom: 16px;
    text-align: center;

    a {
      font-weight: normal;
    }
    li a {
      font-size: 1rem;
    }
    p {
      font-size: 1rem;
    }
  }

  .clients {
    padding: 12px 24px 68px 24px;
  }
  .contact {
    padding-top: 8vh;
    max-width: 76vw;
  }
  a {
    color: #ff4915;
  }
  a:hover {
    text-decoration: none;
  }
  p {
    font-size: 1rem;
  }
  .list-inline {
    text-align: center;
  }
}
