// Homepage

nav.navbar {
  position: fixed;
  z-index: 500;
  padding-top: 18px;
}
nav {
  padding: 24px;
  display: flex;
  justify-content: right;
  position: fixed;
  top: 0;
  width: 100%;

  .container-fluid {
    flex-direction: row-reverse;
    height: 48px;
  }

  ul li {
    display: inline-block;
    margin-left: 16px;

    .nav-link {
      font-size: 20px;
    }
  }
  .logo-sm {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 48px;
    width: 48px;
  }
  a {
    color: var(--white);
  }
  .primary-nav {
    margin-right: 20px;
    padding-left: 0px;
  }
  .primary-nav .btn {
    height: 44px;
    width: 44px;
    padding: 0px;
  }
}

.navbar-collapse {
  background: var(--grey-800);
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px;

  ul.navbar-nav {
    margin-top: 80px;
  }
  .social {
    padding: 4vh 16px 1vh 16px;

    ul {
      margin-top: 20px;
    }
  }
  h2 a {
    font-size: 18vw;
    line-height: 12.6vw;
  }
}

.intro {
  position: fixed;
  top: 50vh;
  margin-top: -48vh;
  z-index: 100;
  width: 100%;

  .container {
    padding: 40px;
    padding-top: clamp(124px, 20vw, 140px);
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .container a.navbar-brand {
    background-size: contain;
    margin: auto;
    width: 92px;
    height: 66px;
  }
  .design-studio {
    background: url('../images/graphics/text-DesignStudio-black.svg') center center no-repeat;
    background-size: contain;
    position: relative;
    width: 100%;
    padding-top: 62%;
  }
  p.lead {
    font-size: 16px;
    line-height: 24px;
    font-family: var(--mono);
    text-align: center;
    max-width: 380px;
    margin: auto;
  }
}


.block {
  padding: 8vh 5vw 11vh 5vw;
}

.sheet {
  position: relative;
  z-index: 100;
  margin-top: clamp(600px, 84vh, 780px);
  margin-bottom: 94vw;

  .project-card-group {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 12px;
  }
}
