// Mobile
@media only screen and (max-width: 600px) {
  .sheet .project-card-group {

    .project-card {
      h2 {
        font-size: 17vw;
        line-height: 11.8vw;
      }
      ul.project-tags li {
        font-size: 12px;
      }
    }
  }

  .project-card.sainsburys .client {
    height: 20px;
  }
  .project-card.trainline .client {
    height: 22px;
  }

  .block {
    padding: 5vw;

    h3 {
      font-size: 19vw;
      line-height: 12.9vw;
    }
    p.lead {
      max-width: 100%;
    }
  }

}

// Tablet
@media only screen and (min-width: 601px) {

  p.lead {
    font-size: 20px;
    line-height: 28px;
  }


  .project-card {
    border-radius: 25px;
    padding: 40px;
  }
  .card-body h5 {
    font-size: 56px;
    line-height: 39px;
    letter-spacing: 0px;
    word-spacing: -5.9px;
  }

  .navbar {
    padding: 0.5rem 0px;
  }
  .intro {
    margin-top: -484px;
  }
  .sheet {
    margin-top: clamp(558px, 120vw, 97vh);
    margin-bottom: clamp(558px, 56vw, 772px);
  }
  .case-study .sheet {
    margin-top: 86vh;
    gap: 40px;
  }

  .sheet .project-card-group {
    padding: 16px;
    gap: 16px;
  }

  .blockquote {
    padding: 5vw;
    p {
      font-size: 100px;
      line-height: 72px;
      width: clamp(100px, 92%, 1130px);
      word-spacing: -4px;
    }
  }


  .image-block {
    margin: 40px auto;
  }
  .color-block {
    padding: 0px 10px;

      p.lead {
        font-size: 1rem;
      }
      p.tags {
        font-size: 0.9rem;
      }
  }
  .cs.carousel {
    .iOS-device {
      width: 90%;
      top: 74vw;
    }
  }
  .sheet .cs {
    .color-block {
      padding: 20px;
      padding-top: 4vh;
    }
    .center-align {
      top: 0;
      transform: translate(0, 0%);
    }
  }
  .sheet.sub {
    padding-bottom: 12vh;
    .row {
      padding: 5vw;
    }
  }

  #carouselRecliningWorm {
    #slide-1.color-block {
      background-image: url('../images/projects/banners/case-study-cards/cs-card-recliningworm-mobile.png');
    }
    #slide-2.color-block {
      background-image: url('../images/projects/banners/case-study-cards/cs-card-recliningworm-mobile.png');
    }
  }



  .blog-posts {
    padding: 40px 6vw;
  }
  // footer {
  //   .clients {
  //     padding: 2vh 6vw;
  //   }
  // }
}

// Desktop
@media only screen and (min-width: 991px) {
  html {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='79' height='95' viewport='0 0 100 100' style='fill:black;font-size:47px;'><text y='50%'>🪖</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }
  body {
    font-size: 1.2rem;
  }
  a {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='80' height='80' viewport='0 0 100 100' style='fill:black;font-size:44px;'><text y='50%'>☺️</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }

  h1 {
    font-size: 14.6vh;
    line-height: 10vh;
    letter-spacing: 0px;
  }
  h2 {
    font-size: 11vh;
    line-height: 11.6vh;
  }
  h3 {
    font-size: 10vh;
    line-height: 10.6vh;
  }
  h4 {
    font-size: 8vh;
    line-height: 6.4vh;
  }
  h5 {
    font-size: 6vh;
    line-height: 9.8vh;
  }

  .sheet.sub {
    p.lead {
      max-width: 72%;
    }
  }


  nav.navbar {

    .navbar-collapse {
      background: none;
      padding: 0px;
      position: relative;

      ul {
        margin: 0px;
        margin-left: 40px;
      }
      .social {
        padding: 0px;
        display: flex;
        justify-content: right;
        width: 100%;
      }
    }
  }
  .navbar-nav .scrollmenu {
    display: none;
  }
  .blockquote {
    padding: 5vw;
    p {
      font-size: 144px;
      line-height: 100px;
      width: clamp(100px, 92%, 1130px);
      word-spacing: -9px;
    }
  }

  .intro {
    margin-top: -580px;

    p.lead {
      font-size: 18px;
      max-width: 100%;
      padding-top: 16px;
    }
  }

  .color-block .center-align {
    top: 50%;
  }
  .cs.carousel {
    .center-align {
      margin-top: -20px;
      position: absolute;
      top: 50%;
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }
  }

  .case-study .sheet {
    padding-bottom: 80px;
  }

  #slide-1.color-block, #slide-2.color-block {
    background-repeat: no-repeat;
    background-position: center;
  }

  #carouselTrainline {
    #slide-1.color-block {
      background-image: url('../images/projects/banners/case-study-cards/cs-card-trainline-desktop.png');
    }
    #slide-2.color-block {
      background-image: url('../images/projects/banners/case-study-cards/cs-card-trainline-desktop.png');
    }
  }
  #carouselRecliningWorm {
    #slide-1.color-block {
      background-image: url('../images/projects/banners/case-study-cards/cs-card-recliningworm-desktop.png');
    }
    #slide-2.color-block {
      background-image: url('../images/projects/banners/case-study-cards/cs-card-recliningworm-desktop.png');
    }
  }


  // Case study hero area
  .case-study .sticky .color-block {
    height: 88vh;
  }


  // Project slides
  .color-block {
    background-image: url('../images/projects/hero-sticky-template-mobile.png');
    background-position: center;
    padding: 0px 40px;

      p.lead {
        font-size: 1.2rem;
        line-height: 1.5rem;
      }
      p.tags {
        font-size: 0.9rem;
      }
  }
  p {
    font-size: 1.2rem;
  }
  a.navbar-brand {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='79' height='95' viewport='0 0 100 100' style='fill:black;font-size:47px;'><text y='50%'>☺️</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }
  .contact a {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='79' height='95' viewport='0 0 100 100' style='fill:black;font-size:47px;'><text y='50%'>🤙</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }
  .carousel-control-prev {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:44px;'><text y='50%'>👈</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }
  .carousel-control-next {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:44px;'><text y='50%'>👉</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }
  .blog-posts {
    padding: 8vh;

    .card {
      width: 24%;
      float: left;
      margin-right: 0.5%;
    }
  }

  // Case study hero area
  .case-study {
    .color-block.case-study {
      background-image: url('../images/projects/banners/hero-sticky-template-desktop.png');
    }
    .color-block.case-study.sainsburys {
      background-image: url('../images/projects/banners/hero-sticky-template-desktop.png');
    }
    .color-block.case-study.trainline {
      background-image: url('../images/projects/trainline/rob-daniel.png');
    }
    .color-block.case-study.justeat {
      background-image: url('../images/projects/banners/hero-sticky-template-desktop.png');
    }
    .color-block.case-study.cookpad {
      background-image: url('../images/projects/banners/hero-sticky-template-desktop.png');
    }
    .color-block.case-study.recliningworm {
      background-image: url('../images/projects/banners/hero-sticky-template-desktop.png');
    }
    .color-block.case-study.oatbook {
      background-image: url('../images/projects/banners/hero-sticky-template-desktop.png');
    }
  }
}
// Desktop Large
@media only screen and (min-width: 1350px) {

  .case-study .sheet {
    padding-top: 80px;
  }

  .cs.carousel .carousel-item {
    height: 100vh;
  }
  footer {
    margin-bottom: 0px;

    .clients {
      padding: 8vh 54px;
    }
  }
}
