// Project cards
.project-card {
  width: 100%;
  transition: .4s;
  padding: 20px 16px;
  padding-top: 38vw;
  border-radius: 16px;

  // padding-top: 28vh;
  // min-height: 44vh;

  &:hover {
    -ms-transform: scale(0.98); /* IE 9 */
    -webkit-transform: scale(0.98); /* Safari 3-8 */
    transform: scale(0.98);
  }

  h2 {
    max-width: 90%;
    font-size: clamp(16px, 16vw, 300px);
    word-spacing: -1.8vw;
    letter-spacing: -0.1vw;
    line-height: 12.2vw;
    line-height: clamp(16px, 10.8vw, 204px);
  }
  h2 a {
    text-decoration: none;
    color: var(--white);
    &:hover {
      text-decoration: none;
    }
  }
  p {
    font-family: var(--mono);
    font-size: 16px;
    line-height: 20px;
    margin: 0px;
  }

  .client {
    margin-bottom: 8px;
    transition: transform .2s;
  }

  ul.project-tags {
    font-family: var(--mono);
    list-style: none;
    padding: 0px;
    display: flex;
    margin-top: 16px;
    margin-bottom: 0px;
    flex-wrap: wrap;
    gap: 4px;

    li {
      border: 2px solid var(--white);
      color: white;
      width: fit-content;
      border-radius: 30px;
      padding: 4px 12px;
      font-size: 16px;
      transition: .4s;
    }
  }
}


// Clients

  // Cookpad
  .project-card.cookpad {
    background: var(--cookpad-1) url('../images/projects/case-study-cards/cs-card-cookpad-mobile.png') 0 0 no-repeat;
    background-size: contain;

      .client {
        background: url('../images/logos/cookpad-black-logo.svg') no-repeat;
        height: 40px;
        background-size: contain;
      }
      h2 a, p.lead {
        color: var(--cookpad-2);
      }
      ul.project-tags li {
        border: 1px solid var(--cookpad-2);
        color: var(--cookpad-2);
      }

      &:hover {
        background: var(--cookpad-3) url('../images/projects/case-study-cards/cs-card-cookpad-mobile-hover.png') 0 0 no-repeat;
        background-size: contain;

          h2 a {
            color: #734214;
          }
          h2 a:hover {
            color: var(--cookpad-2);
          }
          ul.project-tags li:hover {
            background: var(--cookpad-2);
            border: 1px solid var(--cookpad-2);
            color: var(--cookpad-3);
          }
      }
    }

  // Cookpad – MISE
  .project-card.cookpad.mise {
    display: none;
    background: #F8F6F3 url('../images/projects/case-study-cards/cs-card-cookpad-mise-desktop.png') 0 0 no-repeat;
    background-size: cover;

      h2 a {
        color: var(--cookpad-1);
      }

      &:hover {
        background: #F8F6F3 url('../images/projects/case-study-cards/cs-card-cookpad-mise-desktop.png') 0 0 no-repeat;
        background-size: cover;
      }
    }

  // Sainsburys
  .project-card.sainsburys {
    // background-image: linear-gradient(to bottom right, var(--sainsburys-1), var(--sainsburys-2));
    // background-image: url('../images/projects/sainsburys/sainsburys-intro-hero.png');
    background: var(--sainsburys-1) url('../images/projects/case-study-cards/cs-card-sainsburys-mobile.png') 0 0 no-repeat;
    background-size: contain;

    p.lead {
      color: var(--white);
    }

    .client {
      background: url('../images/logos/sainsburys-black-logo.svg') no-repeat;
      height: 32px;
      background-size: contain;
    }

    &:hover {
      background: var(--sainsburys-3) url('../images/projects/case-study-cards/cs-card-sainsburys-mobile-hover.png') 0 0 no-repeat;
      background-size: contain;

        .client {
          background: url('../images/logos/sainsburys-white-logo.svg') no-repeat;
          background-size: contain;
        }
        h2 a, p.lead {
          color: var(--sainsburys-1);
        }
        h2 a:hover {
          color: var(--white);
        }
        ul.project-tags li:hover {
          background-color: var(--sainsburys-1);
          color: var(--white);
        }
      }
    }


  // GOVUK
  .project-card.govuk {
    background: var(--govuk-1);

    .client {
      background: url('../images/logos/govuk-white-logo.svg') no-repeat;
      height: 32px;
      background-size: contain;
    }
    h2 a, p.lead {
      text-decoration: none;
      color: var(--govuk-2);
    }

    &:hover {
        h2 a, p.lead {
          color: var(--grey-100);
        }
        h2 a:hover {
          color: var(--white);
        }
        ul.project-tags li:hover {
          background-color: var(--govuk-2);
          color: var(--govuk-1);
        }
      }
    }


  // Lloyds open banking
  .project-card.lloyds {
    background: var(--lloyds-1) url('../images/projects/case-study-cards/cs-card-lloyds-mobile.png') 0 0 no-repeat;
    background-size: contain;

    .client {
      background: url('../images/logos/lloyds-black-logo.svg') no-repeat;
      height: 44px;
      background-size: contain;
    }
    h2 a, p.lead {
      text-decoration: none;
      color: var(--lloyds-3);
    }
    ul.project-tags li {
      border: 1px solid var(--lloyds-3);
      color: var(--lloyds-3);
    }

    &:hover {
      background: var(--lloyds-3) url('../images/projects/case-study-cards/cs-card-lloyds-mobile-hover.png') 0 0 no-repeat;
      background-size: contain;

        .client {
          background: url('../images/logos/lloyds-white-logo.svg') no-repeat;
          background-size: contain;
        }
        h2 a, p.lead {
          color: var(--lloyds-1);
        }
        h2 a:hover {
          color: var(--white);
        }
        ul.project-tags li {
          border: 1px solid var(--lloyds-1);
          color: var(--lloyds-1);
        }
        ul.project-tags li:hover {
          background-color: var(--lloyds-1);
          color: var(--lloyds-3);
        }
      }
    }

  // Matillion
  .project-card.matillion {
    display: none;
    background: var(--matillion-1) url('../images/projects/case-study-cards/cs-card-matillion-mobile.png') 0 0 no-repeat;
    background-size: contain;

    h2 a, p.lead {
      color: var(--matillion-3);
    }
    ul.project-tags li {
      border: 1px solid var(--matillion-3);
      color: var(--matillion-3);
    }

    .client {
      background: url('../images/logos/matillion-black-logo.svg') no-repeat;
      height: 32px;
      background-size: contain;
    }

    &:hover {
      background: var(--matillion-3) url('../images/projects/case-study-cards/cs-card-matillion-mobile-hover.png') 0 0 no-repeat;
      background-size: contain;

        .client {
          background: url('../images/logos/matillion-white-logo.svg') no-repeat;
          background-size: contain;
        }
        h2 a, p.lead {
          color: var(--matillion-1);
        }
        ul.project-tags li {
          border: 1px solid var(--matillion-1);
          color: var(--matillion-1);
        }
        h2 a:hover {
          color: var(--white);
        }
        ul.project-tags li:hover {
          background-color: var(--matillion-1);
          color: var(--white);
        }
      }
    }

  // Trainline
    .project-card.trainline {
      background: var(--trainline-1) url('../images/projects/case-study-cards/cs-card-trainline-mobile.png') 0 0 no-repeat;
      background-size: contain;

      .client {
        background: url('../images/logos/tl-black-logo.svg') no-repeat;
        height: 32px;
        background-size: contain;
      }
      h2 a, p.lead {
        text-decoration: none;
        color: var(--trainline-2);
      }

      &:hover {
        background: var(--trainline-3) url('../images/projects/case-study-cards/cs-card-trainline-mobile-hover.png') 0 0 no-repeat;
        background-size: contain;

          .client {
            background: url('../images/logos/tl-white-logo.svg') no-repeat;
            background-size: contain;
          }
          h2 a, p.lead {
            color: var(--trainline-1);
          }
          h2 a:hover {
            color: var(--white);
          }
          ul.project-tags li:hover {
            background-color: var(--trainline-1);
            color: var(--white);
          }
        }
    }

  // JustEat
    .project-card.justeat {
      background: var(--justeat-1) url('../images/projects/case-study-cards/cs-card-justeat-mobile.png') 0 0 no-repeat;
      background-size: contain;

      .client {
        background: url('../images/logos/justeat-black-logo.svg') no-repeat;
        height: 32px;
        background-size: contain;
      }
      p.lead {
        color: var(--white);
      }
      &:hover {
        background: var(--justeat-2) url('../images/projects/case-study-cards/cs-card-justeat-mobile.png') 0 0 no-repeat;
        background-size: contain;

          .client {
            background: url('../images/logos/justeat-white-logo.svg') no-repeat;
            background-size: contain;
          }
          h2 a:hover {
            color: var(--justeat-3);
          }
          ul.project-tags li:hover {
            background-color: var(--justeat-3);
            color: var(--white);
          }
        }
    }

  // OATBook
    .project-card.oatbook {
      background: var(--oatbook-1) url('../images/projects/case-study-cards/cs-card-oatbook-mobile.png') 0 0 no-repeat;
      background-size: contain;

        h2 a, p.lead {
          color: #2a2a2a;
        }
        ul.project-tags li {
          border: 1px solid #2a2a2a;
          color: var(--oatbook-3);
        }

        &:hover {
          background: #ffc031 url('../images/projects/case-study-cards/cs-card-oatbook-mobile-hover.png') 0 0 no-repeat;
          background-size: contain;

            h2 a:hover {
              color: var(--white);
              color: #383838;
            }
            ul.project-tags li:hover {
              background-color: var(--oatbook-3);
              color: var(--white);
            }
        }
    }

  // BackBeat
    .project-card.backbeat {
      background: coral;
      .client {
        background: url('../images/logos/backbeat-black.svg') no-repeat;
        height: 52px;
        background-size: contain;
      }
    }
    .project-card.backbeat:hover {
      background: blue;
      .client {
        background: url('../images/logos/backbeat-white.svg') no-repeat;
        height: 52px;
        background-size: contain;
      }
    }

  // Shithead
    .project-card.shithead {
      background: #F8331E url('../images/projects/case-study-cards/cs-card-shithead-mobile.png') 0 0 no-repeat;
      background-size: contain;

      .client {
        background: url('../images/logos/shithead-logo-white.svg') no-repeat;
        height: 23.04px;
        background-size: contain;
      }
      h2 a, p.lead {
        color: #1E1E1E;
      }
      ul.project-tags li {
        border: 1px solid #1E1E1E;
        color: #1E1E1E;
      }
    }
    .project-card.shithead:hover {
      background: #540800 url('../images/projects/case-study-cards/cs-card-shithead-mobile-hover.png') 0 0 no-repeat;
      background-size: contain;

      .client {
        background: url('../images/logos/shithead-logo-white.svg') no-repeat;
        height: 23.04px;
        background-size: contain;
      }
      h2 a, p.lead {
        color: #FEFFF1;
      }
      ul.project-tags li {
        border: 1px solid #FEFFF1;
        color: #FEFFF1;
      }
    }

  // RecliningWorm
    .project-card.recliningworm {
      background: var(--recliningworm-1) url('../images/projects/case-study-cards/cs-card-reclingingworm-mobile.png') 0 0 no-repeat;
      background-size: contain;

      .client {
        background: url('../images/logos/recliningworm-white-logo.svg') no-repeat;
        height: 52px;
        background-size: contain;
      }
      p.lead {
        color: var(--white);
      }

      &:hover {
        background: #542188 url('../images/projects/case-study-cards/cs-card-reclingingworm-mobile.png') 0 0 no-repeat;
        background-size: contain;

          .client {
            background: url('../images/logos/recliningworm-white-logo.svg') no-repeat;
            height: 52px;
            background-size: contain;
          }
          h2 a:hover {
            color: var(--trainline-1);
          }
          p.lead {
            color: var(--white);
          }
          ul.project-tags li:hover {
            background-color: var(--trainline-1);
            color: var(--white);
          }
      }
    }


    // Desktop Large
    @media only screen and (min-width: 1350px) {

      .project-card.cookpad {
        background: var(--cookpad-1) url('../images/projects/case-study-cards/cs-card-cookpad-desktop.png') 0 0 no-repeat;
        background-size: contain;
        background-position: right;

        &:hover {
          background: var(--cookpad-3) url('../images/projects/case-study-cards/cs-card-cookpad-desktop.png') 0 0 no-repeat;
          background-size: contain;
          background-position: right;
        }
      }

      // Cookpad – MISE
      .project-card.cookpad.mise {
        background: #F8F6F3 url('../images/projects/case-study-cards/cs-card-cookpad-mise-desktop.png') 0 0 no-repeat;
        background-size: contain;
        background-position: right;

        &:hover {
          background: #F8F6F3 url('../images/projects/case-study-cards/cs-card-cookpad-mise-desktop.png') 0 0 no-repeat;
          background-size: contain;
          background-position: right;
        }
      }

      .project-card.sainsburys {
        background: var(--sainsburys-1) url('../images/projects/case-study-cards/cs-card-sainsburys-desktop.png') 0 0 no-repeat;
        background-size: contain;
        background-position: right;

        &:hover {
          background: var(--sainsburys-3) url('../images/projects/case-study-cards/cs-card-sainsburys-desktop-hover.png') 0 0 no-repeat;
          background-size: contain;
          background-position: right;
        }
      }

      .project-card.trainline {
        background: var(--trainline-1) url('../images/projects/case-study-cards/cs-card-trainline-desktop.png') 0 0 no-repeat;
        background-size: contain;
        background-position: right;

        &:hover {
          background: var(--trainline-3) url('../images/projects/case-study-cards/cs-card-trainline-desktop.png') 0 0 no-repeat;
          background-size: contain;
          background-position: right;
        }
      }

      .project-card.justeat {
        background: var(--justeat-1) url('../images/projects/case-study-cards/cs-card-justeat-desktop.png') 0 0 no-repeat;
        background-size: contain;
        background-position: right;

        &:hover {
          background: var(--justeat-2) url('../images/projects/case-study-cards/cs-card-justeat-desktop.png') 0 0 no-repeat;
          background-size: contain;
          background-position: right;
        }
      }

      .project-card.lloyds {
        background: var(--lloyds-1) url('../images/projects/case-study-cards/cs-card-lloyds-desktop.png') 0 0 no-repeat;
        background-size: contain;
        background-position: right;

        &:hover {
          background: var(--lloyds-3) url('../images/projects/case-study-cards/cs-card-lloyds-desktop.png') 0 0 no-repeat;
          background-size: contain;
          background-position: right;
        }
      }

      .project-card.oatbook {
        background: var(--oatbook-1) url('../images/projects/case-study-cards/cs-card-oatbook-desktop.png') 0 0 no-repeat;
        background-size: contain;
        background-position: right;

        &:hover {
          background: #ffc031 url('../images/projects/case-study-cards/cs-card-oatbook-desktop.png') 0 0 no-repeat;
          background-size: contain;
          background-position: right;
        }
      }

      .project-card.recliningworm {
        background: var(--recliningworm-1) url('../images/projects/case-study-cards/cs-card-reclingingworm-desktop.png') 0 0 no-repeat;
        background-size: contain;
        background-position: right;

        &:hover {
          background: #542188 url('../images/projects/case-study-cards/cs-card-reclingingworm-desktop.png') 0 0 no-repeat;
          background-size: contain;
          background-position: right;
        }
      }

      .project-card.shithead {
        background: #F8331E url('../images/projects/case-study-cards/cs-card-shithead-desktop.png') 0 0 no-repeat;
        background-size: contain;
        background-position: right;

        .client {
          height: 32px;
        }

        &:hover {
          background: #540800 url('../images/projects/case-study-cards/cs-card-shithead-mobile.png') 0 0 no-repeat;
          background-size: contain;
          background-position: right;

          .client {
            height: 32px;
          }
        }
      }
    }
