
body, h1, h2, h3, h4, h5, h6, p, .blockquote-footer {
  color: var(--black);
}

::selection {
  background-color: rgba(36,70,0,0.1);
  color: #668304;
}

// Navigation
.navbar {
  a {
    color: var(--black);
  }
  a:hover {
    color: var(--white);
  }
  .social .list-inline-item a:hover {
    color: var(--white);
  }
  .collapsing, .show {
    a.navbar-brand {
      background: url('../images/warface-logo-white.svg') center center no-repeat;
    }
    .primary-nav {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    .primary-nav .btn:hover, .social a:hover {
      color: var(--white);
    }
    .navbar-toggler-icon.list {
      background: url('../images/icons/list-white.svg') center center no-repeat !important;
    }

    a {
      color: var(--white);
    }
    a:hover {
      color: var(--warface);
    }
  }
}

// Project cards
.project-card {
  h2 a {
    color: var(--black);
  }
  h2 a:hover {
    color: var(--white);
  }
}

// Blog cards
.blog-carousel {
  .card {
    .card-title a {
      color: var(--black);
    }
    .small-tags li:hover {
      background: var(--black);
      color: var(--white) !important;
      border: none;
    }
  }
  .card:hover {
    .small-tags li {
      color: var(--black);
      border: 1px solid var(--black);
    }
  }
}


.navbar-toggler-icon.theme-light {
  background: url('../images/icons/theme-black.svg') center center no-repeat !important;
}
.navbar-toggler-icon.list {
  background: url('../images/icons/list-black.svg') center center no-repeat !important;
}


// Page content
.sheet {
  background: var(--grey-100);
  color: var(--black);

  a {
    color: var(--warface);
  }
  a:hover {
    color: var(--warface);
  }
}


// Navbar
a.navbar-brand {
  background: url('../images/warface-logo-black.svg') center center no-repeat;
}

.intro .design-studio {
  background: url('../images/graphics/text-DesignStudio-black.svg') center center no-repeat;
  background-size: contain;
  position: relative;
  width: 100%;
  padding-top: 62%;
}

// Clients
.logo-div.sainsburys {
  background: url('../images/logos/sainsburys-black-logo.svg')center no-repeat;
  background-size: contain;
  height: 48px;
  width: 144px;
}
.logo-div.trainline {
  background: url('../images/logos/tl-black-logo.svg')center no-repeat;
  background-size: contain;
  height: 28px;
  width: 130px;
}
.logo-div.GOVUK {
  background: url('../images/logos/govuk-black-logo.svg')center no-repeat;
  background-size: contain;
  height: 48px;
  width: 172px;
}
.logo-div.justeat {
  background: url('../images/logos/justeat-black-logo.svg')center no-repeat;
  background-size: contain;
  height: 48px;
  width: 172px;
}
.logo-div.science-museum {
  background: url('../images/logos/sciencemuseum-black-logo.svg')center no-repeat;
  background-size: contain;
  height: 62px;
  width: 164px;
}
.logo-div.carwow {
  background: url('../images/logos/carwow-black-logo.svg')no-repeat;
  background-size: contain;
  height: 24px;
  width: 182px;
}
.logo-div.FIFA {
  background: url('../images/logos/fifa-black-logo.svg')center no-repeat;
  background-size: contain;
  height: 44px;
  width: 144px;
}
.logo-div.cookpad {
  background: url('../images/logos/cookpad-black-logo.svg')center no-repeat;
  background-size: contain;
  height: 62px;
  width: 160px;
}
.logo-div.homebase {
  background: url('../images/logos/homebase-black-logo.svg')center no-repeat;
  background-size: contain;
  height: 62px;
  width: 194px;
}
.logo-div.nectar {
  background: url('../images/logos/nectar-black-logo.svg')center no-repeat;
  background-size: contain;
  height: 76px;
  width: 80px;
}
.logo-div.lloydsBank {
  background: url('../images/logos/lloyds-black-logo.svg')center no-repeat;
  background-size: contain;
  height: 76px;
  width: 140px;
}


// Case studies
.sainsburys {
  footer {
    a {
      color: pink;
    }
    a:hover {
      color: var(--sainsburys-2);
    }
  }

  .case-study {
    .sheet {
      a {
        color: var(--sainburys-1);
      }
      a:hover {
        color: var(--white);
      }
    }
  }
}

.trainline {
  footer {
    a {
      color: var(--trainline-2);
    }
    a:hover {
      color: var(--white);
    }
  }
  .case-study {
    .sheet {
      a {
        color: var(--trainline-1);
      }
      a:hover {
        color: var(--black);
      }
    }
  }
}

.oatbook {
  footer {
    a {
      color: var(--oatbook-2);
    }
    a:hover {
      color: var(--white);
    }
  }

  .case-study {
    .sheet {
      a {
        color: var(--oatbook-1);
      }
      a:hover {
        color: var(--black);
      }
    }
  }
}
