

h1, h2, h3, h4, h5, p {
  color: var(--black);
}
.sheet {
  background: var(--grey-800);
}

.navbar-toggler-icon.theme-light {
  background: url('../images/icons/theme-black.svg') center center no-repeat !important;
}
.navbar-toggler-icon.list {
  background: url('../images/icons/list-black.svg') center center no-repeat !important;
}

// Navbar
a.navbar-brand {
  background: url('../images/warface-logo-black.svg') center center no-repeat;
}

.intro .design-studio {
  background: url('../images/graphics/text-DesignStudio-black.svg') center center no-repeat;
  background-size: contain;
  position: relative;
  width: 100%;
  padding-top: 62%;
}

// Clients
.logo-div.sainsburys {
  background: url('../images/logos/sainsburys-black-logo.svg')center no-repeat;
  background-size: contain;
  height: 48px;
  width: 144px;
}
.logo-div.trainline {
  background: url('../images/logos/tl-black-logo.svg')center no-repeat;
  background-size: contain;
  height: 28px;
  width: 130px;
}
.logo-div.GOVUK {
  background: url('../images/logos/govuk-black-logo.svg')center no-repeat;
  background-size: contain;
  height: 48px;
  width: 172px;
}
.logo-div.justeat {
  background: url('../images/logos/justeat-black-logo.svg')center no-repeat;
  background-size: contain;
  height: 48px;
  width: 172px;
}
.logo-div.science-museum {
  background: url('../images/logos/sciencemuseum-black-logo.svg')center no-repeat;
  background-size: contain;
  height: 62px;
  width: 164px;
}
.logo-div.carwow {
  background: url('../images/logos/carwow-black-logo.svg')no-repeat;
  background-size: contain;
  height: 24px;
  width: 182px;
}
.logo-div.FIFA {
  background: url('../images/logos/fifa-black-logo.svg')center no-repeat;
  background-size: contain;
  height: 44px;
  width: 144px;
}
.logo-div.cookpad {
  background: url('../images/logos/cookpad-black-logo.svg')center no-repeat;
  background-size: contain;
  height: 62px;
  width: 160px;
}
.logo-div.homebase {
  background: url('../images/logos/homebase-black-logo.svg')center no-repeat;
  background-size: contain;
  height: 62px;
  width: 194px;
}
.logo-div.nectar {
  background: url('../images/logos/nectar-black-logo.svg')center no-repeat;
  background-size: contain;
  height: 76px;
  width: 80px;
}
