{% include header.html %}
<style>
  canvas {
    display: none;
  }
</style>

  <body class="subpage {{ page.excerpt }}">
    {% include navigation.html %}

  <div class="intro">
    <div class="container-fluid pt-4">
      <!-- <h2>{{ page.title }}</h2> -->
    </div>
  </div>

  <div class="case-study">

    <div class="container-fluid sheet">
      {{ content }}

      <div class="row blog-posts">
        {% include blog-posts.html %}
      </div>
    </div>

  </div>

  {% include footer.html %}
